{% extends 'layout.html' %}
{% block content %}
{% if social_login_available|length != 0 %}
<section class="section is-large">
    <div class="container">
        <h1 class="title is-1">소셜 로그인</h1>
        <p class="subtitle">
            <a href="#email-login">또는 이메일 로그인</a>
        </p>
    {% if error_social is not none %}
        <div class="notification is-danger">
            {{ error_social }}
        </div>
    {% endif %}
    {% if message is not none %}
        <div class="notification is-primary">
            {{ message }}
        </div>
    {% endif %}
        <div class="block">
    {% for service in social_login_available %}
        {% if service == "kakao" %}
            <div id="social-block-kakao">
                <img id="kakao-login" class="is-clickable" src="/static/kakao/kakao_login_medium_wide.png">
            </div>
        {% endif %}
    {% endfor %}
        </div>
    </div>
</section>

<div class="mb-6"></div>
{% endif %}

<section class="section" id="email-login">
    <div class="container">
        <h1 class="title is-1">이메일 로그인</h1>
        <p class="subtitle">
            <a href="/auth/password-reset">비밀번호를 잊으셨나요?</a>
        </p>
    {% if error is not none %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endif %}
    {% if message is not none %}
        <div class="notification is-primary">
            {{ message }}
        </div>
    {% endif %}
        <form method="post">
            <div class="field">
                <label class="label is-medium" for="email-input">이메일</label>
                <div class="control">
                    <input id="email-input" class="input is-large" type="email" name="email">
                </div>
            </div>

            <div class="field">
                <label class="label is-medium" for="password-input">비밀번호</label>
                <div class="control">
                    <input id="password-input" class="input is-large" type="password" name="password">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary is-light is-large is-fullwidth" type="submit">다음</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% if social_login_available|length != 0 %}
<section class="section is-large mb-6"></section>
{% endif %}

{% endblock %}

{% block script %}
<script>
    sessionStorage.clear();
</script>

{% for service in social_login_available %}
    {% if service == "kakao" %}
        <script src="/static/kakao/kakao.min.js"></script>
        <script>
            document.getElementById("kakao-login").addEventListener('click', () => {
                if(!Kakao.isInitialized()){
                    Kakao.init("{{ "KAKAO_JAVASCRIPT_KEY"|get_env }}");
                }

                Kakao.Auth.authorize({
                    redirectUri: '{{ "HOST"|get_env }}{{ url_for('social.kakao.callback.index') }}'
                });
            });
        </script>
    {% endif %}
{% endfor %}
{% endblock %}