{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">회원가입</h1>
        <p class="subtitle">서비스 이용약관과 개인정보 처리방침에 동의해야 서비스를 이용 할 수 있습니다.</p>
    {% if error is not none %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endif %}
        <form method="post">
            <div class="field">
                <label class="label" for="email-input">이메일</label>
                <div class="control">
                    <input id="email-input" class="input is-large" type="email" name="email">
                </div>
            </div>

            <div class="field">
                <label class="label" for="password-input">비밀번호</label>
                <div class="control">
                    <input id="password-input" class="input is-large" type="password" name="password">
                </div>
            </div>

            <div class="block">
                <div class="field">
                    <label class="checkbox" for="tosCheck">
                        <input id="tosCheck" name="tos_agree" type="checkbox"><a href="/tos">서비스 이용약관</a>을 <b>확인</b>했으며 이에 <b>동의</b>합니다.
                    </label>
                </div>

                <div class="field">
                    <label class="checkbox" for="privacyCheck">
                        <input id="privacyCheck" name="privacy_agree" type="checkbox"><a href="/privacy">개인정보 처리방침</a>을 <b>확인</b>했으며 이에 <b>동의</b>합니다.
                    </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary is-light is-large is-fullwidth" type="submit">다음</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="section"></section>
{% endblock %}