{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">안녕하세요!</h1>
        <p class="subtitle">마지막 로그인 : {{ user.last_login }}</p>
    {% if error is not none %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endif %}
    {% if message is not none %}
        <div class="notification is-warning">
            {{ message|safe }}
        </div>
    {% endif %}
        <div class="block buttons">
            <a class="button is-danger is-medium" href="/dashboard/quit-service">회원 탈퇴</a>
            <a class="button is-link is-medium" href="/dashboard/history">로그인 기록</a>
            <a class="button is-info is-medium" href="/dashboard/reset">비밀번호 재설정 기록</a>
        </div>
    {% if user.admin %}
        <div class="block">
            <a class="button is-warning is-medium" href="/dashboard/user-lock">계정 잠금</a>
        </div>
    {% endif %}
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title is-2">작성한 편지</h2>
        <p class="subtitle">우체통에 들어간 편지는 수정 할 수 없습니다.</p>
        <div class="block">
            <a class="button is-info is-medium" href="/mail/create-new">편지 쓰기</a>
        </div>
    {% for mail in mails %}
        <div class="box" data-url="/mail/edit/{{ mail.id }}">
            <h4 class="title is-4">
            {% if mail.lock is true %}
                <span class="tag is-danger">우체통</span>
            {% endif %}
                {{ mail.title }}
            </h4>
            <p class="subtitle">{{ mail.creation_date.strftime("%Y년 %m월 %d일") }} ➔ {{ mail.send_date.strftime("%Y년 %m월 %d일") }}</p>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    document.querySelectorAll("div.box").forEach((element) => {
	    element.addEventListener('click', () => {
            location.href = element.dataset.url;
	    });
    });
</script>
{% endblock %}