{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">계정 잠금</h1>
    {% if error is not none %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endif %}
    {% if message is not none %}
        <div class="notification is-primary">
            {{ message }}
        </div>
    {% endif %}
    </div>
</section>

<section class="section">
    <div class="container">
        <form method="post">
            <div class="field">
                <label class="label is-medium" for="email-input">이메일</label>
                <div class="control">
                    <input id="email-input" class="input is-large" type="email" name="email">
                </div>
            </div>

            <div class="field">
                <label class="label is-medium" for="reason-input">사유</label>
                <div class="control">
                    <textarea id="reason-input" class="textarea" name="reason"></textarea>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary is-light is-large is-fullwidth" type="submit">다음</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}