{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">회원 탈퇴</h1>
    {% if error is not none %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endif %}
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content is-medium">
            <p>다음의 조건에 모두 만족해야 탈퇴 할 수 있습니다.</p>
            <ul>
                <li>{{admin}} 서비스 관리자가 아님</li>
                <li>{{mail}} 작성한 편지가 없음</li>
                <li>{{protect}} 계정 잠금 요청이 없음</li>
            </ul>
        {% if protects|length != 0 %}
            <div class="box">
                <p>다음과 같은 계정 잠금 요청이 있습니다.</p>
            {% for p in protects %}
                <blockquote>{{ p.reason }}</blockquote>
            {% endfor %}
            </div>
        {% endif %}
        </div>

        <div class="block">
            <form method="post">
                <button class="button is-danger is-large is-fullwidth" type="submit">탈퇴하기</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}