{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">서비스 이용약관</h1>
    {% if error is not none %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endif %}
    {% if message is not none %}
        <div class="notification is-primary">
            {{ message }}
        </div>
    {% endif %}
    {% if session['admin'] is true %}
        <div class="block buttons">
            <a class="button is-primary is-large" href="/tos/create-new">생성</a>
            <a class="button is-warning is-large" href="/tos/edit/{{ tos.id }}">수정</a>
            <a class="button is-danger is-large" href="/tos/delete/{{ tos.id }}">삭제</a>
        </div>
    {% endif %}
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content is-medium">
            {{ tos.html|safe }}
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content is-medium">
            <h1>서비스 이용약관의 공고일자 및 시행일자</h1>
            <ul>
                <li>공고일자 : {{ tos.creation_date.strftime("%Y년 %m월 %d일") }}</li>
                <li>시행일자 : {{ tos.effective_date.strftime("%Y년 %m월 %d일") }}</li>
            </ul>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
    {% for _tos in toss %}
        <div class="box" data-url="/tos/{{ _tos.id }}">
            <h5 class="title is-5">{{ _tos.creation_date.strftime("%Y년 %m월 %d일") }}</h5>
        {% if _tos.id == tos.id %}
            <p class="subtitle">지금 보고있는 이용약관 입니다.</p>
        {% endif %}
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    document.querySelectorAll("div.box").forEach((element) => {
	    element.addEventListener('click', () => {
            location.href = element.dataset.url;
	    });
    });
</script>
{% endblock %}