{% extends 'layout.html' %}
{% block content %}
<section class="section is-large">
    <div class="container">
        <h1 class="title is-1">{{ g.title }}</h1>
        <p class="subtitle">천천히 도착하는 이메일</p>
        <div class="block buttons">
            <a class="button is-primary is-medium" href="/auth/sign-up">회원가입</a>
            <a class="button is-light is-medium" href="/auth/login">로그인</a>
        </div>
    </div>
</section>

{#
<section class="section is-large">
    <div class="container">
        <div class="content is-medium">
            <p></p>
        </div>
    </div>
</section>
#}
{% endblock %}