{% extends 'layout.html' %}
{% block content %}
<section class="section is-large">
    <div class="container">
        <h1 class="title is-1">{{ g.title }}</h1>
        <p class="subtitle">웹 사이트에서 편지를 작성하면 지정한 날짜에 도착하는 프로그램입니다.</p>
        <div class="block buttons mt-6">
            <a class="button is-primary is-medium" href="/auth/login">로그인</a>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}

{% if "logout" in request.args %}
<script>
    sessionStorage.clear();
    alert("로그아웃 처리되었습니다.");
    location.replace("/");
</script>
{% endif %}

{% endblock %}
