{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">비밀번호 재설정</h1>
        <p class="subtitle"><b>{{ expired }}</b>이 지나면 비밀번호를 재설정 할 수 없습니다.</p>
    {% if error is not none %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endif %}
        <form method="post">
            <div class="field">
                <label class="label" for="password-input">비밀번호</label>
                <div class="control">
                    <input id="password-input" class="input is-large" type="password" name="password">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary is-light is-large is-fullwidth" type="submit">다음</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}