<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>{{ g.title }}</title>
        <meta name="author" content="chick_0">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="description" content="웹 사이트에서 편지를 작성하면 지정한 날짜에 도착하는 프로그램입니다.">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="ko_KR">
        <meta property="og:title" content="{{ g.title }}">
        <meta property="og:description" content="웹 사이트에서 편지를 작성하면 지정한 날짜에 도착하는 프로그램입니다.">
        <meta property="og:url" content="{{ g.host }}">
        <link rel="canonical" href="{{ g.host }}">
        <link rel="stylesheet" href="/static/css/bulma.min.css">
    {% if g.editor_css is true %}
        <link rel="stylesheet" href="/static/css/toastui-editor.min.css">
    {% endif %}
    </head>
    <body>
        <nav class="navbar container">
            <div class="navbar-brand">
            {% if 'user' in session %}
                <a class="navbar-item" href="/dashboard">{{ g.title }}</a>
            {% else %}
                <a class="navbar-item" href="/">{{ g.title }}</a>
            {% endif %}
                <a role="button" class="navbar-burger" data-target="navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div id="navbar" class="navbar-menu">
                <div class="navbar-start">
                {% if 'user' in session %}
                    <a class="navbar-item" href="/mail/create-new">
                        편지 쓰기
                    </a>
                {% endif %}
                    <a class="navbar-item" href="/notice">
                        공지사항
                    </a>
                    <a class="navbar-item" href="/tos">
                        서비스 이용약관
                    </a>
                    <a class="navbar-item" href="/privacy">
                        개인정보 처리방침
                    </a>
                </div>
                <div class="navbar-end">
                {% if 'user' not in session %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="/auth/sign-up">
                                <strong>회원가입</strong>
                            </a>
                            <a class="button is-light" href="/auth/login">
                                로그인
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="/dashboard">
                                <strong>대시보드</strong>
                            </a>
                            <a class="button is-light" href="/auth/logout">
                                로그아웃
                            </a>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename='js/burger.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>